.outerContainer {
  background-image: url("../../Assests/images/bg.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 80vh;
  margin-top: -50px;
}
.admin-login-link {
    font-size: 14px;
    margin-top: 10px;
}