.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-login-box {
    background-color: #282c34;
    color: #61dafb;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background-color: #393e46;
    color: #61dafb;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    color: #282c34;
    text-decoration: none;
}

.error-message {
    color: #ff6b6b;
    margin-top: 10px;
}
