/* NavbarComponent.css */
.Navbar {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 36px;
    background-color: white;
    z-index: 4;
    top: 0;
}

.Navbar nav {
    display: flex;
    gap: 24px;
}

.Navbar nav div {
    cursor: pointer;
}

.Navbar h1 {
    margin: 0;
    font-size: 32px;
}

.Navbar .icons {
    justify-content: flex-end;
    width: 180px;
    display: flex;
    gap: 24px;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 4;
}

@media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
    }

    .Navbar h1 {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .Navbar nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        overflow-x: hidden;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        width: 100%; /* Adjust width as needed */
        height: 100vh;
        z-index: 3;
    }

    .Navbar nav.open {
        transform: translateX(0);
    }

    .hamburger-menu {
        display: block;
        font-size: 24px;
        z-index: 5; /* Increase z-index to make sure it's above the navbar content */
    }

    .Navbar .icons {
        display: none; /* Hide other icons on small screens */
    }
}

@media (min-width: 769px) {
    .hamburger-menu {
        display: none; /* Hide hamburger menu icon on larger screens */
    }

    .Navbar .icons {
        display: flex; /* Show other icons on larger screens */
    }
}  
