.product-card {
  width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  height: 46.1px;
  overflow: hidden;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.btn {
  cursor: pointer;
}

.btn-info {
  background-color: #80e0ef;
  border-color: #6bccdb;
}

.btn-info:hover {
  border-color: #138496;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
